<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Demo Socket IO</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <script src="jquery-3.5.0.min.js"></script>
        <script src="socket.io/socket.io.js"></script>
        <script>
            //Goi dien len server
            var socket = io("http://localhost:3000");
            $(document).ready(()=>{
                
            })
        </script>
    </body>
</html>